.houses__item {
  width: 500px;
  border: 2px solid white;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.houses__item-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 10px;
}

.houses__item-animal-name {
  display: flex;
  justify-content: end;
  margin-right: 5px;
}

.houses__item-gradient {
  height: 20px;
  width: 95%;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  border: 2px solid white;
  border-radius: 4px;
}

.houses__item-footer {
  margin: 10px;
  display: flex;
}

.houses__item-footer-founder-label {
  margin-right: 5px;
}

.houses__item-footer-founder-value {
  font-weight: 700;
}